.img-size-for-card{
    max-width: 170px;
    max-height: 120px;
    float: left;
    margin-right: 10px;
}
span{
    color: black;
}
.articleEl{
    max-height: 200px;
    object-fit: cover;
}
.articleText{
    text-align: justify;
}
.grey-text{
    color: grey;  
}
.pageLink{
    padding-top: 12px;
    text-decoration: none;
    color: black;
}
.epmty{
    height: 100px;
}
.epmty2{
    height: 30px;
}
.p3{
    text-align: justify;
}